
<p>Dettagli</p>
<div>
    <div>
        <label>Movie's: Terminator</label>
        <label>Movie's Genre: Horror</label>
        <label>Year: 2019</label>
        <label>Bello?: No</label>
    </div>
</div>
<div>
    <div>
        <label>Movie's: Piero e la prosti</label>
        <label>Movie's Genre: Spinto</label>
        <label>Year: 2023</label>
        <label>Bello?: Si dai</label>
    </div>
</div>
<div>
    <div>
        <label>Movie's: Piero 2 la vendetta del tiranno</label>
        <label>Movie's Genre: Guerra</label>
        <label>Year: 20302</label>
        <label>Bello?: C'è a chi piace e a chi no</label>
    </div>
</div>
<div>
    <div>
        <label>Movie's: Piero 3: libero di persuadere</label>
        <label>Movie's Genre: Hot</label>
        <label>Year: 2013</label>
        <label>Bello?: Bella merda</label>
    </div>
</div>
